.App {
  text-align: center;
}

#nav_wrap {
  padding-left: 30px;
  text-decoration: none;
  margin: 5px;
}

.nav {
  margin: 10px;
  text-decoration: none;
  color: white;
  font-size: large;
}

#symbol {
  font-size: xx-large;
}

.content {
  margin-top: 100px;
}

/* span {
  display: inline-block;
  background-color: #a4ffad;
  padding: 12px;
  margin: 5px;
} */

.list-wrapper {
  margin: auto;
  width: 700px;
  margin-top: 50px;
}

.form-wrapper {
  margin: auto;
  width: 500px;
  margin-top: 50px;
}
